<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
<!-- {{ title }}
{{ numberOne + numberTwo }}
{{ togglePokemon ? "isPokemon" : "isNotPokemon"}} -->

<!-- <h1 [innerHtml] = "title"></h1>
<img [src] = "imgSrc" /> -->

<h2>Two-way Binding Example</h2>
<input [(ngModel)] = "favoriteAnimal" />
<p>{{favoriteAnimal}}</p>

